// .babelrc: babel config file
{
    "presets": [ 
        [
            // @babel/preset-env converts the latest JavaScript syntax
            "@babel/preset-env",
            // use this to allow:
            //  - using async/await
            //  - using axios
            {
                "targets": {
                    "node": "12"
                }
            }            
        ],
        // @babel/preset-react converts the JSX
        "@babel/preset-react" 
    ]
}