# SERVER
# in case docker's node version and the env that installed these modules differ
server/node_modules
# prevents non-docker env files from being copied over
server/*.env.*

# CLIENT
# in case docker's node version and the env that installed these modules differ
client/node_modules
# prevents non-docker env files from being copied over
client/*.env.*