# BACKEND
# in case docker's node version and the env that installed these modules differ 
backend/server/node_modules
# in case docker's npm install does not get corrupted by another env's package-lock.json
backend/server/package-lock.json
# prevents non-docker env files from being copied over
backend/server/*.env.*

# FRONTEND
# in case docker's node version and the env that installed these modules differ 
frontend/node_modules
# in case docker's npm install does not get corrupted by another env's package-lock.json
frontend/package-lock.json
# prevents non-docker env files from being copied over
frontend/*.env.*