@default-inputBar-backgroundColor: #222121;

.modalLayout {
    position: fixed;
    z-index: 2;
    top: 0;
    height: 100vh;
    width: 100vw;
    padding: 5vh 5vw;
    background-color: #111111;    
}

.modalContainer {
    padding: 25px 50px;
    background-color: @default-inputBar-backgroundColor;
    height: 100%;
    padding: 25px;
    width: 100%;
    background-color: #414141;
    border-radius: 25px;
}


.modalTitle {
    color: #ff2828;
    text-align: center;    
}

.modalContent {
    color: white;
    font-weight: 300;
    margin: 10px 0px;    
}

.modalContentUpdatable {
    color: white;
    text-align: left;
    margin: 10px 0px;  
    > div { 
        float: left;
        padding-right: 10px;
        text-align: left;
    }
    > input {
        float: left;
        max-width: 85%;
    }
}

.buttonCancel {
    float: right;
    display: flex;
    justify-content: right;
    align-items: right;
}

div.buttonCancel > input {
    background-color: orange;
    padding: 15px;
}

.buttonDelete {
    float: left;
    display: flex;
    justify-content: left;
    align-items: left; 
}

div.buttonDelete > input {
    background-color: red;
    padding: 15px;
}

.buttonUpdate {
    float: left;
    display: flex;
    justify-content: left;
    align-items: left    
}
div.buttonUpdate > input {
    padding: 15px;
}


    
