@topnav-color:  #000000;
@body-backgroundColor: #25292b;
@button-primary: #258eb8;
@button-secondary: #2576b8;
@default-font-size: 15px;

// ensure that all HTML elements have the box-sizing property set to border-box. This makes sure that the padding and border are included in the total width and height of the elements.
* {
  box-sizing: border-box;
}

body {
    margin: 0px;
    height: 100%;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: @default-font-size;
    background-color: @body-backgroundColor;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

// All these columns should be floating to the left, and have a padding of 15px
[class*="col-"] {
  float: left;
  padding: 15px;
  // uncomment the below line when making static page changes
  border: 1px solid red;
}

// media query for tablets: 
//    use this general one to allow multiple columns at tablet size
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

// media query for desktop: 
//    use this general one to allow multiple columns at desktop size
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.header {
  background-color: @topnav-color;
  padding: 5px;
}

/* Style the top navigation bar */
.topnav {
  padding: 0px;
  max-height: 3rem;
  overflow: hidden;
}
.topnav-logo {
  float: left;
  padding: 0px 5px;
  height: 2.5rem;
}

form {
  border-radius: 5px;
  background-color: @body-backgroundColor;
  padding: 20px;
}
.form-container {
  padding-top: 5%;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  // background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
.search-padding {
  padding-right: 2px;
}

input[type=button] {
  background-color: @button-primary;
  border: none;
  color: white;
  padding: 14px 32px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
input[type=button]:hover {
  background-color: @button-secondary;
}
.button-padding {
  padding-left: 0;
}