@default-inputBar-backgroundColor: #222121;
@default-color-red: #ff2828;


.requestedMediaItemContainer {
  position: relative;
  float: left;
  width: 140px;
  margin: 0 0.5%;
}

.requestedMediaItemImg {
  padding: 0px;
  height: 12rem;
}

.requestedMediaItemStatus {
    position: absolute;
    background-color: #b90000d9;
    width: 128px;
    text-align: center;
    color: white;
    top: 80px;
    font-size: 20px;
}

.requestedMediaListContainer {
  background-color: @default-inputBar-backgroundColor;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
}

.requestedMediaListTitle {
  color: @default-color-red;
  font-size: 1.5rem;
  padding-bottom: 15px;
  text-align: center;
}

.requestedMediaRow {
  display: flex;
}

@media only screen and (min-width: 175px) {
  .requestedMediaRow {
    padding: 0 2rem;
  }
}
@media only screen and (min-width: 600px) {
  .requestedMediaRow {
    padding: 0 5rem;
  }
}
